.hero{
  background: url('../../../assets/images/noisebg.png') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  padding: 20px;
  overflow: hidden;
  display: flex;
}
h1{
  font-size: 4vw !important;
}
 .container{
    display: flex;
    flex-wrap: no;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.container div{
  margin: 10px;
}

.hero-button{
    background: linear-gradient(90deg, rgb(20, 152, 235) 1.64%, rgb(150, 45, 227) 100%);
    color: white !important;
    border: none;
    font-family: 'Roboto Mono';
    padding: 8px 16px 8px 16px;
}

.imagery{
  height: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  flex: 60em;
  flex-direction: column;

}

.shadow{
  background-color: #cbcbcb;
  width: 55%;
  height: 15px;
  border-radius: 50%;
  backdrop-filter: blur(21px);
}

@media (max-width : 744px) {

  .container{
    flex-wrap: wrap-reverse;
    text-align: center;
    width: -webkit-fill-available;
  }
  .imagery{
    width: -webkit-fill-available;
  }

  h1{
    font-size: 7vw !important;
  }
}
